* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  
  text-shadow: 1px 1px 1px black;
}

a:hover {
  font-size: larger;
  color: black;
}

nav {
  text-align: center;
}

h1 {
  text-align: center;
}

li {
  display: inline-block;
  margin: 10px;
}

footer {
  padding: 40px;
  height: 100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  clear: left;
}


#contact-nav {
  background-image: url(/images/NoHate.png);
  background-position: center;
  background-size: contain;
}

#div-contact {
  border: 15px orange solid;
  background-position: center;
  background-size: cover;
  background-image: url("/images/bxtch-please.png");
  border-style: solid solid double solid;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.services-table {
  border-collapse: collapse;
  margin: 50px;
  font-size: 25px;
  min-width: 400px;
  /* background-color: orange; */
  display: contents;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 50px;
}

table {
  background-color: orange;
  border-collapse: collapse;
  margin: 50px;
  font-size: 15px;
  min-width: 400px;
  /* background-color: orange; */
  color: black;
  text-align: left;
  font-weight: bold;
  padding: 25px;
  border-bottom: 1px solid orange;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 20px black;
}

th {
  background-color: gray;
  
}

#header-contact {
  color: white;
  background-image: url(/images/concert.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
}

#h1contact {
  color: red;
}

#form-con {
  text-align: center;
  width: 300px;
  margin: auto;
}

#submit-con:hover {
  color: blue;
}
#fname {
  border: 2px solid red;
  border-radius: 10px;
}
#lname {
  border: 2px solid red;
  border-radius: 10px;
}
#organiztion {
  border: 2px solid red;
  border-radius: 10px;
}
#textarea {
  border: 2px solid red;
  border-radius: 20px;
  width: 100%;
}

.services {
  height: 100vh;
  background-image: url(/images/yoga.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.top {
  text-decoration: none;
  padding: 20px;
  color: orange;
  background-color: black;
  border-radius: 100px;
}

.top:hover {
  color: black;
  background-color: orange;
}
input {
  width: 100%;
}

.hours {
  height: 200vh;
  background-image: url(/images/madison.jpg);
  background-position: center;
  backface-visibility: visible;
  background-attachment: fixed;
  backdrop-filter: calc(padding);
  background-image: -moz-linear-gradient(bxtch-please);
  box-shadow: 0cqb;
  background-repeat: round;
}

.top {
  text-shadow: 0cm;
  padding: 40px;
  color: black;
  background-color: orange;
  border: 100px;
}

.top:hover {
  color: orange;
  background-color: black;
}
#h2-con {
  text-align: center;
  color: red;
}
#p-con {
  text-align: center;
}
#sec-con {
  background-color: rgb(241, 205, 174);
  border: 5px dashed orangered;
}

.index-header {
  height: 100vh;
  background-image: url(/images/madison-sunset.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px 1px #333;
  /* background-color: red; */
}

.img-div > img {
  width: 200px;
  float:  left;
  padding: 15px;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border: 10px;
  border-color: orange gold;
  box-sizing: border-box;
  border-style: dashed;
  outline: solid;
}

 
#hours-home-link {
width: 50px;
}


#leadership-home-link {
width: 50px;
}

