nav {
  text-align: center;
}

h1 {
  text-align: center;
}

li {
  display: inline-block;
  margin: 10px;
}

p {
  color: red;
}
#contact-nav {
  background-image: url(/images/NoHate.png);
  background-position: center;
  background-size: contain;
}

#div-contact {
  border: 15px orange solid;
  background-position: center;
  background-size: cover;
  background-image: url("/images/bxtch-please.png");
  border-style: solid solid double solid;
}

.services-table {
  border-collapse: collapse;
  margin: 50px;
  font-size: 25px;
  min-width: 400px;
  /* background-color: orange; */
}

table {
  background-color: orange;
  border-collapse: collapse;
  margin: 50px;
  font-size: 15px;
  min-width: 400px;
  /* background-color: orange; */
  color: black;
  text-align: left;
  font-weight: bold;
  padding: 25px;
  border-bottom: 1px solid orange;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 20px black;
}

th {
  background-color: gray;
}

#header-contact {
  color: white;
  background-image: url(/images/concert.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
}

#h1contact {
  color: red;
}

#form-con {
  text-align: center;
  width: 400px;
  margin: auto;
}

#submit-con:hover {
  color: blue;
}
#fname {
  border: 2px solid red;
  border-radius: 10px;
}
#lname {
  border: 2px solid red;
  border-radius: 10px;
}
#organiztion {
  border: 2px solid red;
  border-radius: 10px;
}
#textarea {
  border: 2px solid red;
  border-radius: 20px;
  width: 100%;
}

.services {
  height: 100vh;
  background-image: url(/images/yoga.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.top {
  text-decoration: none;
  padding: 20px;
  color: orange;
  background-color: black;
  border-radius: 100px;
}

.top:hover {
  color: black;
  background-color: orange;
}
input {
  width: 100%;
}
